.Battery {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 60vmin;
	width: 40vmin;
	border: 1vmin solid darkslategrey;
	border-radius: 1.5vmin;
	margin: 5vmin;
}

.tip {
	height: 4vmin;
	width: 8vmin;
	background-color: rgb(32, 170, 170);
	position: absolute;
	top: -4vmin;
	left: 16vmin;
	border-top-left-radius: 1vmin;
	border-top-right-radius: 1vmin;
}

.level {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #7a1033;
	background-image: linear-gradient(123deg, #1b7a10 0%, #cd8080 100%);
	
	
	color: white;
	font-size: 10vmin;
	text-align: center;
}